@model ProductReportModel
<!DOCTYPE html>
<html>
    <head>
        <link href="@System.IO.Path.Combine(Model.WebRootPath,"css\\bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@System.IO.Path.Combine(Model.WebRootPath,"css\\pdf.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>

    </body>
</html>