@model ITextVersionModel
@using PdfFromPartial.Models
<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (Model.Products.Any())
    {
        <div class="d-flex justify-content-between my-5">
            <h1>Reorder Report</h1> 
            <img src="/images/logo.png" />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Per Unit</th>
                    <th>Stock</th>
                    <th>Discontinued?</th>
                    <th>Reorder?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.OrderBy(p => p.ProductName))
                {
                    <tr class="@(product.Discontinued ? "text-black-50" : null)">
                        <td>@product.ProductName</td>
                        <td>@product.QuantityPerUnit</td>
                        <td>@product.UnitsInStock</td>
                        <td class="align-center">
                            @if (product.Discontinued)
                            {
                                <i class="bi bi-check-circle"></i>
                            }
                        </td>
                        <td class="align-center">
                            @if (ShouldReorder(product))
                            {
                                <i class="bi bi-check-circle text-danger"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
@functions {
    bool ShouldReorder(Product product) => product.ReorderLevel < product.UnitsInStock && !product.Discontinued;
}