@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="/ProductReport" class="btn btn-outline-primary">Get Reorder Report</a> 
    <a asp-page="/ChromeVersion" class="btn btn-outline-primary">Chrome Version</a>
</div>
