@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="/ProductReport" class="btn btn-outline-primary">DinkToPDF (Partial)</a> 
    <a asp-page="/ChromeVersion" asp-page-handler="ReportFromPartial" class="btn btn-outline-primary">Chrome Html To Pdf Partial</a>
    <a asp-page="/ChromeVersion" asp-page-handler="ReportFromUrl" class="btn btn-outline-primary">Chrome Html To Pdf URL</a>
</div>
