@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="/ITextVersion" asp-page-handler="ReportFromPartial" class="btn btn-outline-primary mx-3">iText</a>
    <a asp-page="/DinkToPdfVersion" asp-page-handler="ReportFromPartial" class="btn btn-outline-primary mx-3">DinkToPDF</a>
    <a asp-page="/ChromeVersion" asp-page-handler="ReportFromPartial" class="btn btn-outline-primary mx-3">Chrome Html To Pdf</a>
</div>
